#mapid{
    width: 800px; 
    height: 600px; 
    position: relative;
    left: 5%;
}

.title{
    color: brown;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 35%;
}

.main{
    position: absolute;
    left: 400px;
    background-color: rgb(240, 240, 240);
    width: 900px;
    height: 99%;
}